p{font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{text-align: center;
}

Div{
font-size: xx-large;
}

.body{
    background-color: #B5C087;
}

.class-1 {
    border: solid rgb(207, 152, 96); 
    

}

.top{
    padding: 30px;
}