p{
    color:peru 
}

body {
    font-size: x-large;
    color:crimson;
}

body{
    background-color: rgb(146, 78, 146);
}

#first-list-item{
 border: solid black;
}

body{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}



